html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: green;
    padding: 0%;
    margin: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    margin-top: -60px;
}


h1 {
    color: goldenrod;
    font-size: 5em;
    margin-bottom: -40px;
}

#message-el {
    font-weight: bolder;
    font-style: italic;
    color: white;
    font-size: 50px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 1000px;
    padding-bottom: 5px;
}

#player, #computer {
    border: 1px solid goldenrod;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.cards-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    /*border: 1px solid goldenrod;*/
    margin-bottom: -40px;
}

img {
    height: 200px;
    width: 150px;
}

.img-2 {
    margin-left: -100px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

#btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

button {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin-top: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid goldenrod;
    background-color: goldenrod;
    color: white;
}
